/* styles/Header.module.css */

.header {
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 270px;
    padding: 16px 24px;
  }
  
  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
  }
  
  .logoText {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    padding: 0px 10px;
  }
  
  .button {
    font-size: 0.875rem;
    color: #4b5563;
    transition: color 0.2s;
  }
  
  .button:hover {
    color: black;
  }
  
  .buttonLarge {
    font-size: 1.125rem;
    padding-right: 16px;
  }
  